*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 400px;
    /* margin-right: auto; */
}

/* WELCOME SCREEN */



.hero{
    display: flex;
    justify-content: center;
    background-image: url('hero image.jpg') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
    /* height: 1080px; */
    height: 600px; 
    background-color: #000;
    background-size: cover;
    max-width: 300px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    border-radius: 10px;
    width: 300px;
    /* height: 500px; */
    /* color: black; */
}

.container{
    width: 550px;
    height: fit-content;
    background-image: ('hero image.jpg');
    background: url('heroimage.jpg');
    /* width: 100%; */
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: 80px;
    box-shadow: orange;
}

/* .header{
    margin-bottom: 20px;
} */

.header img{
    width: 155px;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: center;
    animation: logo 2s linear infinite;
    animation-name: logo;
    animation-duration: 5s;
    margin-top: 15px;
    margin-left: 70px; 
    animation-timing-function: linear;
}

.header img:hover{
    animation-play-state: paused;
}
@keyframes logo
{
    0%{
        
    }
   
    70%{
        transform: rotate(-320px);
        border-radius: 50%;
        scale: 1.5;
    }

    50%{
        scale: 1.5;
        transform: rotate(0);
        border-radius: 0;
    }
    from{
        background-position: 0 0 ;
    }
   to{
        background-position: 100% 0 ;
    }
} 

.car{
    animation:car 0.5s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    animation:car forwards 1s ease;
    animation-delay: 1.6s ;
}

@keyframes car{
    0%{
      transform: translate(300px, -300px) scale(1.1);  
    }
   
    100%{
        transform: translate(0,0) scale(1);
    }
}

/* @keyframes car
{
    0%{
      transform: translateY(0);  
    }
   
    100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(100px);
    }
}  */

.header p{
    margin: 5px 0 20px;
    margin-left: 70px; 
    font-size: large;
    color: orange;
    background-repeat: repeat-x;
    animation: highway 7s linear infinite;
}

@keyframes p
{
    100%{
        transform: translateX(-340px);
    }
   
    from{
        background-position: 0 0 ;
    }
   to{
        background-position: 100% 0 ;
    }
} 

.background img{
    width: 100%;
    height: 230px;
    background: url(hero-image.jpg);
    margin-top: 0px;
    /* margin-bottom: 0px; */
    align-content: baseline;
    background-size:cover ;
    border-bottom-width: 50px;
}

.highway{
    height: 10px;
    width: 20px;
    display: block;
    /* position: absolute; */
    /* background-image: url('hero image.jpg'); */
    /* bottom: 200px; */
    left: 0;
    right: 0;
    z-index: 1;
    background-repeat: repeat-x;
    animation: highway 2s linear infinite;
}

@keyframes highway
{
    100%{
        transform: translateX(-340px);
    }
   
    from{
        background-position: 0 0 ;
    }
   to{
        background-position: 100% 0 ;
    }
} 
.car{
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* animation-name: car;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    width: 100%;
    height: cover;
    margin-top: 0px;
    position: relative;
    background: url(hero-image.jpg);
    align-content: baseline;
    border-bottom-width: 50px;
    background-size: cover;
    background-repeat: repeat-x;
    background-size:cover ;
    animation: car 0.5s linear infinite; */
}

@keyframes car
{
    0%{
        transform: translateX(-340px);
    }

    100%{
        transform: translateX(-340px);
    }
   
    from{
        background-position: 0 0 ;
    }
   to{
        background-position: 100% 0 ;
    }
}


.login-buttons button{
    display: block;
    margin: 5px auto;
    padding: 7px 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
}

.login-buttons{
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 10px auto;
    /* padding: 7px 15px; */
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
}

.login-buttons button hover{
    background-color: #555;
}

.login-buttons img{
  width: 10px;
  height: 15px;
  justify-content: space-between;
  /* padding: 5px 70px; */
}

 .primary-buttons button{
    display: row;
    margin: 5px auto;
    padding: 7px 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    cursor: pointer;
    margin: 10px 40px;
    background-color: orange; 
}



/* LOGIN SCREEN */

    .form-input{
        width: 100%;
        min-height: 90vh;
        height: 620px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-input-inner{
        width: 350px;
        display: flex;
        flex-direction: column;padding: 0 15px 0 15px;
    }
    .form-input-inner h2{
        color: white;
        font-size: 30px;
        margin-bottom: 20px;
        /* text-align: center; */
        display: flex;
        text-align: center;
        padding-top: 15px;
        justify-content: center;
        padding: 10px 0 10px 0;
        color: orange;
    }

   .inner-content{
      width: 300px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }

    .inner-content label{
        display: block;
        margin-bottom: 5px;
    }

    .inner-content input{
        width: 100%;
        height: 45px;
        border-radius: 10px;
        outline: none;
        font-size: 17px;
        padding: 5px 10px;
        border: 1px solid orange;
    }

   .next{
        width: 100%;
        display: flex;
       flex-direction: column;
       align-items: left;
       margin-top: 700px;
   }

   
   .inner-contentt .login-plans{
        width: 150px;
       padding: 20px 20px;
       color: black;
        background-color: orange;
       border-radius: 10px;
        border: 2px solid white;
        font-size: 20px;
       margin-bottom: 20px;
       cursor: pointer;
       transition: 0.3s;
       outline: none;
       margin-top: 20px;
       margin-left: 100px;
    }

    .login-plans:hover{
        box-shadow: 1px 5px 7px 1px ;
    }

    .left{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       
    } 

    .left input{
      color: #fff;
       text-decoration: none;
       display: flex;
       flex-direction: row;
   }

   .left label{
       width: 100%;
      height: 45px;
       border-radius: 10px;
       outline: none;
      font-size: 10px;
      color: orange;
      padding: 5px 10px;
   }

   .right label{
      display: block;
       margin-bottom: 5px;
    }
    .inner-contentt h6{
        text-align: center;
        padding-top: 20px;
        font-size: 10px;
    }




 /* CREATE ACCOUNT */

    .form-input{
        width: 100%;
        min-height: 90vh;
        height: 620px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-input-inner{
        width: 350px;
        display: flex;
        flex-direction: column;
        padding: 0 15px 0 15px;
    }
    
    .form-input-inner h2{
        color: white;
        font-size: 30px;
        margin-bottom: 20px;
        /* text-align: center; */
        display: flex;
        text-align: center;
        padding-top: 15px;
        justify-content: center;
        padding: 10px 0 10px 0;
        color: orange;
    }

   .inner-content{
      width: 300px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }

    .inner-content label{
        display: block;
        margin-bottom: 5px;
    }

    .inner-content input{
        width: 100%;
        height: 45px;
        border-radius: 10px;
        outline: none;
        font-size: 17px;
        padding: 5px 10px;
        border: 1px solid orange;
    }

   .next{
        width: 100%;
        display: flex;
       flex-direction: column;
       align-items: left;
       margin-top: 700px;
   }

   
   .inner-contentt .login-plans{
        width: 150px;
       padding: 20px 20px;
       color: black;
        background-color: orange;
       border-radius: 10px;
        border: 2px solid white;
        font-size: 20px;
       margin-bottom: 20px;
       cursor: pointer;
       transition: 0.3s;
       outline: none;
       margin-top: 50px;
       margin-left: 100px;
    }

    .login-plans:hover{
        box-shadow: 1px 5px 7px 1px ;
    }

    .left{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       
    } 

    .left input{
      color: #fff;
       text-decoration: none;
       display: flex;
       flex-direction: row;
   }

   .left label{
       width: 100%;
      height: 45px;
       border-radius: 10px;
       outline: none;
      font-size: 10px;
      color: orange;
      padding: 5px 10px;
   }

   .right label{
      display: block;
       margin-bottom: 5px;
    }
    .inner-contentt h6{
        text-align: center;
        padding-top: 20px;
        font-size: 10px;
    }







 /* @media(max-width: 700px){
    .LogIn{
      width: 100%;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    } 
 
    account-input{
        font-size: 28px;
    }
 
    .account-input h2{
      font-size: 28px;
      color: black;
     margin-bottom: 20px;
      text-align: center;
   }
 
    .input{
     width: 100%;
      border-radius: 10px;
   }
 
    .input label{
        display: block;
     margin-bottom: 5px;
   }

    .input input{
      width: 100%;
        height: 45px;
       border-radius: 10px;
       outline: none;
       font-size: 19px;
        padding: 5px 10px;
        border: 1px solid rgba(128, 128, 128, 0.4);
    }
 
     .next{
         width: 100%;
         display: flex;
         flex-direction: column ;
         align-items: center;
       }
 
            .next button{
             width: 120px;
              padding: 10px 20px;
              background-color: orange;
              color: orange;
             border: none;
              color: white;
             border-radius: 20px;
              margin-bottom: 20px;
            }
 
} */
 /* HOME SCREEN */

.home{
    display: flex; 
    width: 360px;
    justify-content: center;
    display: flex;
    align-items: center;
}

aside{
    width: 200px;
    padding: 20px;
    text-align: center;
    /* background-color: #f0f0f0; */
}

.logo img{
    width: 75px;
    height: 75px;
    margin: 5px 70px;
    margin-top: 20px;
}

aside img{
    width: 45px;
    height: 45px;
    /* margin: 5px 70px;
    margin-top: 20px; */
}

.star img{
    width: 10px;
    height: 10px;
    /* margin: 5px 70px;
    margin-top: 20px; */
}

aside nav{
    background-color: white;
    width: 330px;
}

aside hr{
    margin-top:7px;
    display: flex;
    justify-content: space-between;
    width: 100px;
    align-content: center;
    margin-bottom: 7px;
    margin-left: 40px;
}
.account{
    color: orange;
    font-size: medium;
}

.trip{
    color: orange;
    font-size: medium;
}

main{
    padding: 20px;
}


main img{
    width: 15px;
    height: 15px;
}

.search{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.search1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    padding: 20px;
    margin-bottom: 5px;
    padding-right: 20px;
}

.options hr{
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    width: 650px;
    margin-bottom: 17px;
    margin-top: 7px;
    align-content: center;
}
.search input{
    width: 100%; 
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 45px;
    flex-grow: 1;
    font-size: 15px;
}

.search button{
    padding: 10px;
    background-color: #ccc;
    color: white;
    border-radius: 15px;
    cursor: pointer;
   border: none;
   cursor: pointer;
   width: 60px ;
   display: flex;
   flex-direction: row;
   justify-content: right;
   align-content: end;
   position: absolute;
}

.search1 button{
   display: flex;
   flex-direction: row;
   justify-content: right;
   align-content: end;
   margin-left: 950px;
}

.input label{
    display: block;
    margin-bottom: 5px;
}

.input1{
    width: 40%;
    padding: 15px 70px;
    display:flex;
    margin-bottom: 5px;
    justify-content: space-between;
    
}

.input input{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    outline: none;
    font-size: 19px;
    padding: 5px 10px;
    border: 1px solid rgba(128, 128, 128, 0.4);
}

.options{
    margin-top: 10px;
}

.options a{
    display: block;
    margin-bottom: 5px;
}

/* footer nav{
    display: flex;
    justify-content: space-between;
}

footer nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 10px;
    height: 10px;
    
    margin-top: 20px; 
}

footer nav ul li{
    margin: 0 10px;
    width: 15px;
    height: 15px;
}

footer nav ul li a{
   display: block;
}

.naav{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 10px;
    height: 10px;
    flex-direction: column;
} */







/* FOOTER NAVIGATION */



.navigation{
   /* margin-right: 90px; */
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid orange;
    /* background-color: #f8f9fa; */
    border-style:groove;
    border-radius: 10px;
    border-bottom: 0;
    width: 500px;
    height: 90px;
    margin-left: 105px;
    cursor: pointer;
}

.navigation ul{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 10px;
    height: 10px;
    margin-top: 20px; 
    margin-left: 15px;
    border: 0;
    background-color: transparent;
    background-position:center top ;
    background-size:20px ;
    background-repeat: no-repeat;
    flex: 1;
    color: #c6c6c6;
    cursor: pointer;
}
.cover{
    margin-left: 20px;
    width: 50px;
    height: auto;
}

.navigation ul .button{
    margin: 0 10px;
    width: 15px;
    height: 15px;
    font-size: 16px;

}

.navigation ul a{
   display: block;
   margin-right: 90px;
}

/* .navigation button{
    align-content: center;
    margin-left: 50px;
} */







/* big line */
nav hr{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-content: center;
    margin-left: 30px;
}


/* small line */
.hero hr{
    margin-top: 100px;
   justify-content: space-between;
    width: 70px;
   align-content: center;
   margin-left: 177px;
     position: absolute;
 }


